@charset "utf-8";

.box {font-family: "Montserrat",SimHei,Verdana,Arial,Helvetica,sans-serif;}
#main {float:left; width:700px; margin-top:20px; padding-bottom:70px; background:#fff; color:#000;}
#content{-webkit-font-smoothing: antialiased;}
#content header {border:0;}
#content time {margin-bottom:20px; font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif; color:#999;}
#content h2 {font-size:2.2em; font-family:"Montserrat",Verdana,Arial,Helvetica,sans-serif; font-weight:bold; margin-bottom:5px;}
#content h3 {font-size:1.3em; font-weight:normal; margin-bottom:30px;}
#content h4 {font-size:1.3em; font-weight:normal; margin-bottom:30px; text-align:center;}
#content .en {font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;}

#content br.onlySP{
  display: none;
}

#content header{
  margin: 0;
  padding: 0;
}

#content header .image{
  margin: 0;
}


a.black-bg{
  display: inline-block!important;
  margin: 0 auto;
  position: relative;
}
a.black-bg img{
  opacity: 1!important;
  position: relative;
  /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";*/
}
a.black-bg:before{
  background-color: #9f9f9f;
  border-radius: 4px;
  content: " ";
  display: block;
  height: 100%;
  /*margin: -35px 0 0 -70px;*/
  margin: -5px 0 0 -20px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  padding: 5px 20px;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .4s ease;
  width: 100%;
}
a.black-bg:hover:before{
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

/* introduction */
#content #introduction{
  padding: 65px 0;
  /*margin: 0 0 20px;*/
}

#content #introduction *{ text-align: center; }
#content #introduction p{ line-height: 27px; }
#content #introduction > div{
  padding: 30px 0 20px;
  position: relative;
  text-align: center;
}

/* .section */

#content .section{
  background: url(images/line.png) no-repeat top center;
  margin: 0 0 50px;
  padding: 90px 0 0;
}

#content .sections .section:last-child{
  margin-bottom: 0;
}

#content .section h3{
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

#content .section h3.description:before,
#content .section h3.description:after{
  content: " ";
  display: block;
}
#content .section h3.description:before{
  background: url(images/section_titleDeco_top.png) no-repeat;
  height: 34px;
  margin: 0 auto 10px auto;
  width: 101px;
}

#content .section h3.description:after{
  background: url(images/section_titleDeco_bottom.png) no-repeat;
  height: 16px;
  margin: 10px auto 0 auto;
  width: 88px;
}

/*#content .section .description{
  font-size: 16px;
  line-height: 28px;
  margin: 10px ;
  position: relative;
  text-align: center;
}

#content .section .description:before,
#content .section .description:after{
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
}*/

#content .section .img{
  padding: 40px 0 40px;
  text-align: center;
}


#content .section .meta{
  width: 100%;
}

#content .section .meta *{
  text-align: center;
}

#content .section .meta .release{
  display: block;
  font-size: 13px;
  padding: 0 0 15px;
}

#content .section .meta .title{
  margin: 0 0 15px;
}

#content .section .meta .title strong{
  color: #333;
  display: block;
  font-size: 24px;
  line-height: 24px;
  padding: 0 0 8px;
}

#content .section .meta .title span{
  color: #999;
  display: block;
  font-size: 12px;
  line-height: 15px;
}

#content .section .meta .price{
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 30px;
  margin: 0;
}

#content .section .more{
  padding: 0 0 30px;
  text-align: center;
}

#content .section .more > *{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#content .section .more dd{
  font-size: 12px;
  line-height: 18px;
  padding: 0 0 0 10px;
}

#content .section .detailBtn{
  background-color: #333;
  color: #fff;
  display: block;
  font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  margin: 0 auto;
  transition: opacity .4s ease;
  text-align: center;
  width: 265px;
}

#content .section .detailBtn:hover{
  opacity: .8;
}

#content .section .limited{
  font-size: 11px;
  margin: 0;
  text-align: right;
}

#content .section .layout-2col{
  display: table;
  margin: 0 0 30px;
  width: 100%;
}
#content .section .layout-2col .col{
  display: table-cell;
  text-align: center;
  width: 50%;
}

#content .section .colors{
  margin: 40px auto 20px;
  width: 264px;
}

#content .section .colors{
  border-top: 1px solid #e2e2e2;
}

#content .section .colors > [class^="color-"]{
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
  width: 100%;
}

/*#content .section .colors > [class^="color-"] a{
  display: inline-block;f
}*/

#content .section .colors > [class^="color-"] .color-meta{
  padding: 0 0 0 10px;
}

#content .section .colors > [class^="color-"] strong{
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 5px;
}

#content .section .colors > [class^="color-"] span{
  font-size: 11px;
  display: block;
  line-height: 16px;
}

/* horizontal */
#content .section .colors .color-horizontal{
  box-sizing: border-box;
  display: table;
  height: 110px;
  padding: 0;
  text-align: left;
}

#content .section .colors .color-horizontal.is_blank{
  border-bottom: 1px solid #fff;
}

#content .section .colors .color-horizontal > *{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#content .section .colors .color-horizontal a{
  text-align: center;
}

#content .section .colors .color-horizontal .color-meta{
  width: 174px;
}

/* vertical */
#content .section .colors .color-vertical,
#content .section .colors .color-vertical *{
  text-align: center;
}

#content .section .colors .color-vertical .color-meta{
  padding: 15px 0 0;
}

/* trends */
#trends h3{
  font-size: 22px!important;
  line-height: 30px!important;
  margin-bottom: 0px!important;
}

#trends .trend-box{
  padding: 40px 0 0;
  overflow: hidden;
  zoom: 1;
}
#trends .trend-box .left{
  float: left;
}
#trends .trend-box .right{
  float: right;
}
#trends .trend-box .text{
  width: 290px;
}
#trends .trend-box .img{
  padding: 0;
}
#trends .trend-box h4{
  font-size: 16px;
  margin: 0;
  padding: 0 0 15px;
  text-align: left;
}
#trends .trend-box h5{
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-indent: -.5em;
}
#trends .trend-box p{
  font-size: 12px;
  line-height: 19px;
  margin: 0 0 1em;
}
/**
 * for smartphone
 */
.smartphone #content .smp_view {display:inline;}
.smartphone #content .smp_hidden {display:none;}
.smartphone #content time {margin-bottom:5px; text-align:center;}
.smartphone #content h2 {font-size:18px; text-align:center;}
.smartphone #content h3 {font-size:16px; line-height:1.6; text-align:center;}
.smartphone #content header .image img{ width: 100%; }
.smartphone #content .line{ width: 100%; }

.smartphone main .main_inner{
  overflow: visible;
}

.smartphone #content br.onlySP{
  display: inline;
}

/* # introduction */
.smartphone #content #introduction{
  background-size: 400px 60px;
  padding: 20px 0;
}

.smartphone #content #introduction h3 img{
  width: 150px;
}

.smartphone #content #introduction p{
  font-size: 12px;
  line-height: 1.8;
  text-align:left;
}

.smartphone #content #introduction p br{
  display: none;
}

.smartphone #content .section{
  background-size: auto 30px;
  margin: 0 -6.25% 30px;
  padding-top: 60px;
}

.smartphone #content .section h3{
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 20px;
}

.smartphone #content .section > *{
  margin: 0 6.25%;
}
.smartphone #content .section .img img{
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: auto;
}

.smartphone #content .section .meta{
  padding: 0 0 20px;
}
.smartphone #content .section .meta .release{
  font-size: 10px;
  padding: 0 0 10px;
}

.smartphone #content .section .meta .title{
  margin: 0 0 10px;
}

.smartphone #content .section .meta .title strong{
  font-size: 20px;
  line-height: 22px;
  padding: 0 0 4px;
}

.smartphone #content .section .meta .title span{
  font-size: 10px;
  line-height: 17px;
}

.smartphone #content .section .meta .price{
  font-size: 10px;
  line-height: 17px;
  padding: 0 0 15px;
}

/*.smartphone #content .section .more{
  padding: 0 0 30px;
  text-align: center;
}*/

/*.smartphone #content .section .more > *{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}*/

.smartphone #content .section .more dt img{
  max-height: 80px;
  max-width: 90px;
}
.smartphone #content .section .more dd{
  font-size: 10px;
  line-height: 14px;
  /*padding: 0 0 0 10px;*/
}

/*.smartphone #content .section .more dd br{
  display: none;
}*/




.smartphone #content .section .layout-2col{
  /*display: table;
  margin: 0 0 30px;
  width: 100%;*/
  display: block;
}
.smartphone #content .section .layout-2col .col{
  /*display: table-cell;
  text-align: center;
  width: 50%;*/
  display: block;
  padding: 0;
  width: 100%;
}

.smartphone #content .section .layout-2col .col img{
  max-width: 100%;
}

.smartphone #content .section .layout-2col .col:first-child{
  padding: 0 0 60px;
}

.smartphone #content .section .colors{
  /*margin: 40px auto 20px;*/
  /*width: 264px;*/
  margin: 20px auto;
  width: 100%;
}

.smartphone #content .section .colors{
  /*border-top: 1px solid #e2e2e2;*/
}

.smartphone #content .section .colors > [class^="color-"]{
  /*border-bottom: 1px solid #e2e2e2;*/
  padding: 20px 0;
  /*width: 100%;*/
}

/*.smartphone #content .section .colors > [class^="color-"] a{
  display: inline-block;f
}*/

.smartphone #content .section .colors > [class^="color-"] .color-meta{
  padding: 0 0 0 10px;
}

.smartphone #content .section .colors > [class^="color-"] strong{
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 5px;
}

.smartphone #content .section .colors > [class^="color-"] span{
  font-size: 11px;
  display: block;
  line-height: 16px;
}

/* horizontal */
.smartphone #content .section .colors .color-horizontal{
  /*box-sizing: border-box;*/
  /*display: table;*/
  display: block;
  /*height: 110px;*/
  /*padding: 0;
  text-align: left;*/
}

.smartphone #content .section .colors .color-horizontal.is_blank{
  /*border-bottom: 1px solid #fff;*/
  display: none;
}

.smartphone #content .section .colors .color-horizontal > *{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.smartphone #content .section .colors .color-horizontal a{
  text-align: center;
}

.smartphone #content .section .colors .color-horizontal .color-meta{
  width: 174px;
}

/* vertical */
.smartphone #content .section .colors .color-vertical,
.smartphone #content .section .colors .color-vertical *{
  text-align: center;
}

.smartphone #content .section .colors .color-vertical .color-meta{
  padding: 15px 0 0;
}

/* trends */
.smartphone #trends h3{
  font-size: 16px!important;
  line-height: 26px!important;
  /*margin-bottom: 0px!important;*/
}

.smartphone #trends .trend-box{
  padding: 20px 0 0;
  overflow: hidden;
  zoom: 1;
}
.smartphone #trends .trend-box .left{
  /*float: left;*/
  float: none;
}
.smartphone #trends .trend-box .right{
  /*float: right;*/
  float: none;
}
.smartphone #trends .trend-box .text{
  /*width: 290px;*/
  width: 100%;
}
.smartphone #trends .trend-box .img{
  /*padding: 0;*/
  margin: 0 0 20px;
  width: 100%;
}
.smartphone #trends .trend-box .img img{
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
.smartphone #trends .trend-box h4{
  font-size: 14px;
  padding: 0 0 10px;
  /*text-align: center;*/
  /*margin: 0;*/
  /*padding: 0 0 15px;
  text-align: left;*/
}
.smartphone #trends .trend-box h5{
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-indent: -.5em;
}
.smartphone #trends .trend-box p{
  font-size: 12px;
  line-height: 19px;
  margin: 0 0 1em;
}
