@charset "utf-8";

#content .box {padding:19px 39px 39px;}
#content ul {width:640px; letter-spacing:-0.4em;}
#content ul li {display:inline-block; *display:inline; *zoom:1; width:300px; margin:20px 20px 0 0; letter-spacing:normal; vertical-align:top;}
#content ul li:after, 
#content ul li a:after {display:block; clear:both; height:0; content:"";}
#content ul li a {display:block; text-decoration:none;}
#content ul li img {displahy:block; margin:0 0 4px;}
#content ul li h4 {font-size:1.2em; font-weight:normal;}
#content ul li p {font-size:1.2em;}
#content ul li time {display:block; margin:3px 0 0; color:#e87c6f;}
#content ul li a:hover img {filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
#content ul li a:hover time {color:#999999;}
