@charset "utf-8";

main .main_inner {margin-bottom:100px; overflow:hidden;}
aside {float:right; width:220px; padding-right:10px;}
article {float:left; width:650px; text-align:left; margin-top:-70px;}

aside {float:right; width:220px; padding-right:10px;}
aside .label {font-size:18px; margin-bottom:25px;}
aside .country{border-bottom:2px solid #333; margin-bottom:40px;}
aside .country.noborder{border-bottom:0;}
aside ul.list {margin-bottom:40px;}
aside ul.list li{display:block;}
aside ul.list li a{display:block; font-size:14px; padding:5px 0;}
aside ul.list li ul.sub{display:none; margin:5px 0 20px 2em;}
aside ul.list li ul.sub li{display:block;}
aside ul.list li ul.sub li a{display:block; font-size:14px; padding:5px 0; color:#111;}


main {position:relative;}
main .category_navi{display:none;}
main .category_navi{z-index:50; position:absolute; right:75px; top:67px; width:220px; border-bottom:3px solid #ddd; line-height:4em; height:4em; font-size:12px;}
main .category_navi:hover{cursor:pointer;}
main .category_navi .current{background:url("/common/images/general/icon_down.png") no-repeat right center;}
main .category_navi .category_list{display:none; background:#fff;
	padding:10px 20px;
	-webkit-box-shadow:0 5px 8px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 8px rgba(0,0,0,0.2);
	box-shadow:0 5px 8px rgba(0,0,0,0.2);}
main .category_navi .category_list a{display:block; height:30px; line-height:30px;}
main .category_navi .category_list .search{border-bottom: 1px solid #ddd; height:30px; line-height:30px; margin-top:10px;}
main .category_navi .category_list .search form {height: 30px; }
main .category_navi .category_list .search input[type="text"] {border: 0 none; color: #000; font-size: 12px; font-weight: bold; height: 20px; letter-spacing: 0.1em; line-height: 20px; padding: 0; width: 155px; }
main .category_navi .category_list .search input[type="submit"] {background: url("/common/images/general/icon_search.png") no-repeat; border: 0 none; cursor: pointer; height: 20px; margin: 0; padding: 0; text-indent: -99999px; width: 20px; }
main .category_navi .category_list .series {font-size:12px; margin:10px 0 0; border-top:1px solid #ddd; cursor:default;}


/*------------------------
Shop List
------------------------*/
/*
.fac_header {*zoom:1;}
.fac_header h3 {display:block; color: #4B4A48; font-size: 1.8em; font-weight: bold;}
.fac_header ul {display:inline-block; *display:inline; *zoom:1; margin-top:24px;}
.fac_header ul li {display:inline-block; *display:inline; *zoom:1; margin-right:1em;}
.fac_header ul li a {display:inline-block; *display:inline; *zoom:1; color:#e87c6f; font-size:1.4em;}
.fac_header ul li a.act {color:#4b4a48; font-weight:bold; text-decoration:none;}
.fac_header ul li a:hover {color:#999999;}
*/

.shoplist {*zoom:1; margin-top:70px;}
.shoplist h4 {font-size:18px; font-weight:bold; margin-bottom:70px; text-align:center;}
.shoplist ul {*zoom:1; margin-top:0;}
.shoplist ul li {margin-bottom:60px; display:block;}
.shoplist ul li h5 {float:left; padding:0 !important; border:none; font-size:20px; font-weight:bold; margin-bottom:5px;}
.shoplist ul li .fac_tag {display:inline-block; *display:inline; *zoom:1; float:right; margin:0 -5px 0 0;}
.shoplist ul li .fac_tag:after {display:block; clear:both; height:0; content:"";}
.shoplist ul li .fac_tag li {display:inline-block; *display:inline; *zoom:1; float:left; margin:0 5px 0 0; padding:0; border:none; background:transparent;}
.shoplist ul li address {clear:both; padding-top:1px; font-size:12px; font-style:normal;}
.shoplist ul li .news {*zoom:1; margin-top:11px; padding-top:13px; border-top:1px solid #e5e5e5;}
.shoplist ul li .news small {display:block; color:#e9aea7;}
.shoplist ul li .news h6 {margin-top:2px; font-size:12px; font-weight:bold;}
.shoplist ul li .news p {margin-top:2px; font-size:12px;}

.lifestyle_corner {background:#fff; border:4px solid #ddd; padding:7px 15px; display:inline-block;}

.lifestyle_corner_description {border:2px solid #e8e8e8; padding:30px 15px 15px; margin:20px 0 0; background:#f8f8f8; display:inline-block; position:relative;}
.lifestyle_corner_description h6{font-size:13px; position:absolute; top:-20px; left:15px;}
.lifestyle_corner_description h6 span {margin-right:10px; font-size:10px;}
.lifestyle_corner_description > div {font-size:11px;}



/*__ Smartphone View __*/
.smartphone	main {margin-bottom:50px;}
.smartphone	main .main_inner {width:auto; margin:0 6.25% 30px;}

.smartphone	aside {float:none; width:auto; padding-right:0; margin:0; padding-top:30px; border-top:2px solid #333;}
.smartphone	aside .label {font-size:16px; margin-bottom:15px;}
.smartphone	aside .label br {display:none;}
.smartphone	aside .country {margin-bottom:30px;}
.smartphone	aside .list {margin-bottom:30px;}

.smartphone	main .category_navi{display:block; position:relative; width:auto; margin:-15px 6.25% 60px; line-height:1.6em; height:auto; right:0; top:0;}
.smartphone	main .category_navi .current{font-size:14px; text-align:center; padding:18px 0;}
.smartphone	main .category_navi .category_list{margin-right:0; padding:20px;}
.smartphone	main .category_navi .category_list a{font-size:12px; text-align:center; height:40px; line-height:40px;}
.smartphone	main .category_navi .category_list .search{border-bottom: 1px solid #ddd; height:40px; line-height:40px; padding-top:50px;}
.smartphone	main .category_navi .category_list .search form {height: 40px;}
.smartphone	main .category_navi .category_list .search input[type="text"] {width:90%; font-size:12px;}
.smartphone	main .category_navi .category_list .search input[type="submit"] {float:right; background-position:0 10px; height:40px;}
.smartphone	main .category_navi .category_list .country{text-align:center; font-size:12px; padding-top:20px; margin:30px 20% 10px; border-top:1px solid #ddd;}

.smartphone	article {float:none; width:auto; padding-left:0;}

.smartphone .lifestyle_corner_description {padding:15px 20px; margin:0; display:block; }
.smartphone .lifestyle_corner_description h6{position:static; top:auto; left:auto; margin-bottom:10px;}

.smartphone	aside {display:none;}
.smartphone	main .category_navi{display:block;}

