@charset "utf-8";

.box {font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","Osaka","ＭＳ Ｐゴシック","MS P Gothic",Verdana,Arial,Helvetica,sans-serif;}
#main {float:left; width:700px; margin-top:20px; padding-bottom:70px; background:#fff; color:#000;}
#content{-webkit-font-smoothing: antialiased;}
#content header {border:0;}
#content time {margin-bottom:20px; font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif; color:#999;}
#content h2 {font-size:2.2em; font-family:"Montserrat",Verdana,Arial,Helvetica,sans-serif; font-weight:bold; margin-bottom:5px;}
#content h3 {font-size:1.3em; font-weight:normal; margin-bottom:20px;}
#content h4 {font-size:1.3em; font-weight:normal; margin-bottom:30px; text-align:center;}
#content .en {font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;}

#content br.onlySP{
  display: none;
}

#content header{
  margin: 0;
  padding: 0;
}

#content header .image{
  margin: 0;
}


/* introduction */
#content #introduction{
  padding: 65px 0;
  margin: 0 0 20px;
}

#content #introduction *{ text-align: center; }
#content #introduction p{ line-height: 27px; }
#content #introduction > div{
  padding: 30px 0 20px;
  position: relative;
  text-align: center;
}

/* .section */

#content .section{
  margin: 0 0 20px;
  /* padding: 50px 0 0; */
  padding: 0 0;
}

#content .sections .section:last-child{
  margin-bottom: 0;
}

#content .section .description{
  font-size: 16px;
  line-height: 28px;
  position: relative;
  text-align: center;
}

#content .section .description:before,
#content .section .description:after{
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
}

#content .section .img{
  padding: 40px 0 40px;
  text-align: center;
}


#content .section .meta{
  width: 100%;
}

#content .section .meta *{
  text-align: center;
}

#content .section .meta .release{
  display: block;
  font-size: 13px;
  padding: 0 0 15px;
}

#content .section .meta .title{
  margin: 0 0 15px;
}

#content .section .meta .title strong{
  color: #333;
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 8px;
}

#content .section .meta .title span{
  color: #999;
  display: block;
  font-size: 11px;
  line-height: 15px;
}

#content .section .meta .price{
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 30px;
  margin: 0;
}

#content .section .more{
  padding: 0 0 30px;
  text-align: center;
}

#content .section .more > *{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#content .section .more dd{
  font-size: 12px;
  line-height: 18px;
  padding: 0 0 0 10px;
}

#content .section .detailBtn{
  background-color: #333;
  color: #fff;
  display: block;
  font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  margin: 0 auto;
  transition: opacity .4s ease;
  text-align: center;
  width: 265px;
}

#content .section .detailBtn:hover{
  opacity: .8;
}

#content .section div[class^="colors"]{
  border-top: 1px solid #eaeaea;
  margin: 0px auto 20px;
  padding: 0;
}

#content .section div[class^="colors"] h5{
  font-size: 16px;
  line-height: 28px;
  padding: 0 0 40px;
  text-align: center;
}

#content .section div[class^="colors"] ul{
  font-size: 0;
  text-align: center;
}

#content .section div[class^="colors"] li{
  display: inline-block;
  /*padding: 0 0 0 15px;*/
  padding: 0 0 40px;
  vertical-align: top;
}

#content .section .colors-3col li{
  width: 216px;
}

#content .section .colors-4col li{
  width: 162px;
}

#content div[class^="colors"] li:first-child{
  padding-left: 0;
}

#content div[class^="colors"] li > *{
  display: block;
  text-align: center;
}

#content div[class^="colors"] li img{
  margin: 0 auto;
}

#content div[class^="colors"] li strong{
  color: #000;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 0 4px;
}

#content div[class^="colors"] li strong span{
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0 0;
  text-align: center;
}

#content div[class^="colors"] li span{
  font-size: 11px;
}

#content div[class^="colors"] .limited{
  font-size: 12px;
  margin: -10px 0 0;
  text-align: right;
}

#content #shimmer_couture_eyes div[class^="colors"] li > span{
  font-size: 10px;
  letter-spacing: 0;
}

#content #makeup{
  margin-top: 40px;
}

#content #makeup h3{
  text-align: center;
}

#content #makeup .description{
  margin-top: -5px;
}

#content #makeup .makeup-main{
  overflow: hidden;
  padding: 50px 0 0;
  zoom: 1;
}

#content #makeup .makeup-data{
  border-bottom: 1px solid #666;
}

#content #makeup .makeup-data h4{
  margin: 0;
  padding: 40px 0 10px;
}

#content #makeup .makeup-data dl{
  font-size: 11px;
  padding: 0 0 0 5px;
  letter-spacing: 0;
}

#content #makeup .makeup-data dl .pink{
  color: #e95364;
}

#content #makeup .makeup-data dd{
  padding: 0 0 10px;
}

#content #makeup .makeup-howto h4{
  font-size: 18px;
  font-weight: normal;
}

#content #makeup .makeup-howto > div{
  padding: 0 0 15px;
}

#content #makeup .makeup-main .left{
  float: left;
  width: 263px;
}

#content #makeup .makeup-main .right{
  border: 2px solid #e95364;
  border-radius: 8px;
  float: right;
  padding: 25px;
  width: 293px;
}

#content #makeup .makeup-main h5{
  padding: 0 0 5px;
}

#content #makeup .makeup-main p,
#content #makeup .makeup-main ol{
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

#content #makeup .makeup-main .eyes li{
  padding: 0 0 10px;
  overflow: hidden;
  zoom: 1;
}

#content #makeup .makeup-main .eyes img.img1{
  float: right;
  margin: 0 0 5px 5px;
}

#content #makeup .makeup-main .eyes .img{
  margin: 0;
  padding: 0;
  text-align: center;
}


/**
 * for smartphone
 */
.smartphone #content .smp_view {display:inline;}
.smartphone #content .smp_hidden {display:none;}
.smartphone #content time {margin-bottom:5px; text-align:center;}
.smartphone #content h2 {font-size:18px; text-align:center;}
.smartphone #content h3 {font-size:16px; line-height:1.6; text-align:center;}
.smartphone #content header .image img{ width: 100%; }
.smartphone #content .line{ width: 100%; }

.smartphone main .main_inner{
  overflow: visible;
}

.smartphone #content br.onlySP{
  display: inline;
}

/* # introduction */
.smartphone #content #introduction{
  background-size: 400px 60px;
  padding: 20px 0;
}

.smartphone #content #introduction h3 img{
  width: 150px;
}

.smartphone #content #introduction p{
  font-size: 10px;
  line-height: 1.8;
  text-align:left;
}

.smartphone #content #introduction p br{
  display: none;
}

.smartphone #content .section{
  background-size: contain;
  margin: 0 -6.25% 30px;
  padding-top: 60px;
}

.smartphone #content .section > *{
  margin: 0 6.25%;
}

.smartphone #content .section .description{
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0;
}

.smartphone #content .section .description:before,
.smartphone #content .section .description:after{
  background-size: contain;
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
}

.smartphone #content .section .description:before{
  height: 17px;
  margin: 0 0 0 -25px;
  top: -20px;
  width: 50px;
}

.smartphone #content .section .description:after{
  bottom: -12px;
  height: 8px;
  margin: 0 0 0 -22px;
  width: 44px;
}

.smartphone #content .section .img img{
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: auto;
}

.smartphone #content .section .meta .release{
  font-size: 10px;
  padding: 0 0 10px;
}

.smartphone #content .section .meta .title{
  margin: 0 0 10px;
}

.smartphone #content .section .meta .title strong{
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 4px;
}

.smartphone #content .section .meta .title span{
  font-size: 10px;
  line-height: 17px;
}

.smartphone #content .section .meta .price{
  font-size: 10px;
  line-height: 17px;
  padding: 0 0 15px;
}

/*.smartphone #content .section .more{
  padding: 0 0 30px;
  text-align: center;
}*/

/*.smartphone #content .section .more > *{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}*/

.smartphone #content .section .more dt img{
  max-height: 80px;
  max-width: 90px;
}
.smartphone #content .section .more dd{
  font-size: 10px;
  line-height: 14px;
  /*padding: 0 0 0 10px;*/
}

/*.smartphone #content .section .more dd br{
  display: none;
}*/



.smartphone #content .section div[class^="colors"]{
  padding: 30px 0;
  position: relative;
  margin: 30px auto 0;
  max-width: 280px;
  width: 100%;
}

.smartphone #content .section div[class^="colors"] ul{
  text-align: left;
}

.smartphone #content .section div[class^="colors"] h5{
  font-size: 12px;
  line-height: 18px;
}

.smartphone #content .section div[class^="colors"] li{
  padding: 0;
  margin: 0 0 20px;
  width: 49%;
}

.smartphone #content .section div[class^="colors"] li strong{
  font-size: 10px;
  padding: 10px 10px 4px;
}

.smartphone #content .section div[class^="colors"] li span{
  font-size: 10px;
  padding: 0 10px;
}

.smartphone #content .section div[class^="colors"] li span br{
  display: none;
}

.smartphone #content #makeup{
  margin-top: 40px;
}
/*
.smartphone #content #makeup h3{
  text-align: center;
}*/

.smartphone #content #makeup h3 img{
  width: 100%;
}

.smartphone #content #makeup .description{
  /*margin-top: -5px;*/
  margin-top: 15px;
}


.smartphone #content #makeup .makeup-main{
  /*overflow: hidden;*/
  margin: 0;
  padding: 30px 0 0;
  width: 100%;
  /*zoom: 1;*/
}

.smartphone #content #makeup .makeup-main .left > img{
  width: 100%;
}

.smartphone #content #makeup .makeup-data{
  /*border-bottom: 1px solid #666;*/
  margin: 0 0 30px;
  width: 100%;
}

.smartphone #content #makeup .makeup-data h4{
  margin: 0;
  padding: 40px 0 10px;
}

.smartphone #content #makeup .makeup-data h4 img{
  width: 100%;
}

.smartphone #content #makeup .makeup-data dl{
  font-size: 11px;
  padding: 0 0 0 5px;
  letter-spacing: 0;
}

.smartphone #content #makeup .makeup-data dl .pink{
  color: #e95364;
}

.smartphone #content #makeup .makeup-data dd{
  padding: 0 0 10px;
}

.smartphone #content #makeup .makeup-howto h4{
  font-size: 18px;
  font-weight: normal;
}

.smartphone #content #makeup .makeup-howto > div{
  padding: 0 0 15px;
}

.smartphone #content #makeup .makeup-main .left{
  /*float: left;
  width: 263px;*/
  float: none;
  width: 100%;
}

.smartphone #content #makeup .makeup-main .right{
  /*border: 2px solid #e95364;
  border-radius: 8px;*/
  /*float: right;*/
  float: none;
  /*padding: 25px;*/
  /*width: 293px;*/
  /*padding:*/
  /*width: 100%;*/
  width: auto;
}

.smartphone #content #makeup .makeup-main h5{
  padding: 0 0 5px;
}

.smartphone #content #makeup .makeup-main p,
.smartphone #content #makeup .makeup-main ol{
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.smartphone #content #makeup .makeup-main .eyes li{
  padding: 0 0 10px;
  overflow: hidden;
  zoom: 1;
}

.smartphone #content #makeup .makeup-main .eyes img.img1{
  float: right;
  margin: 0 0 5px 5px;
}

.smartphone #content #makeup .makeup-main .eyes .img{
  margin: 0;
  padding: 0;
  text-align: center;
}
.layout-2col{
  display: table;
  margin: 0 0 30px;
  width: 100%;
}
.col{
  display: table-cell;
  text-align: center;
  width: 50%;
}
.smartphone #content .section .layout-2col .col:first-child{
  padding: 0 0 60px;
}
.smartphone #content .section .layout-2col .col{
  display: block;
  width: 100%;
}
.detailBtn{
  background-color: #333;
  color: #fff;
  display: block;
  font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  margin: 0 auto;
  transition: opacity .4s ease;
  text-align: center;
  width: 265px;
}
a:hover img{
  opacity: 0.7;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.width_100{
  width: 100%;
}
#content .section .colors{
  border-top: 1px solid #e2e2e2;
  margin: 40px auto 20px;
  width: 264px;
}
.color-horizontal{
  box-sizing: border-box;
  display: table;
  height: 110px;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
}
.color-meta{
  width: 174px;
  padding: 0 0 0 10px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.color-horizontal img{
  padding:20px 0;
}
#content p{
  text-align: center;
  line-height: 27px;
  margin: 2em 0 0;
  font-size: 1.4em;
}
.tm_img{
  width: 650px;
  height:650px;
}
