@charset "utf-8";

.box {font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","Osaka","ＭＳ Ｐゴシック","MS P Gothic",Verdana,Arial,Helvetica,sans-serif;}
#main {float:left; width:700px; margin-top:20px; padding-bottom:70px; background:#fff; color:#000;}
#content{-webkit-font-smoothing: antialiased;}
#content header {border:0;}
#content time {margin-bottom:20px; font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif; color:#999;}
#content h2 {font-size:2.2em; font-family:"Montserrat",Verdana,Arial,Helvetica,sans-serif; font-weight:bold; margin-bottom:5px;}
#content h3 {font-size:1.3em; font-weight:normal; margin-bottom:20px;}
#content h4 {font-size:1.3em; font-weight:normal; margin-bottom:30px; text-align:center;}
#content .en {font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;}

#content br.onlySP{
  display: none;
}

#content header{
  margin: 0;
  padding: 0;
}

#content header .image{
  margin: 0;
}


a.black-bg{
  display: inline-block!important;
  margin: 0 auto;
  position: relative;
}
a.black-bg img{
  opacity: 1!important;
  position: relative;
  /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";*/
}
a.black-bg:before{
  background-color: #9f9f9f;
  border-radius: 4px;
  content: " ";
  display: block;
  height: 100%;
  /*margin: -35px 0 0 -70px;*/
  margin: -5px 0 0 -20px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  padding: 5px 20px;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .4s ease;
  width: 100%;
}
a.black-bg:hover:before{
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

/* introduction */
#content #introduction{
  padding: 80px 0;
  /*margin: 0 0 20px;*/
}

#content #introduction *{ text-align: center; }
#content #introduction h3{ font-weight: bold; font-size: 14px; line-height: 27px;}
#content #introduction p{ line-height: 27px; }
#content #introduction > div{
  padding: 30px 0 20px;
  position: relative;
  text-align: center;
}

/* .section */

#content .section{
  background: url(images/line.png) no-repeat top center;
  margin: 0 0 80px;
  padding: 90px 0 0;
}

#content .sections .section:last-child{
  margin-bottom: 0;
}

#content .section .description{
  font-size: 16px;
  line-height: 28px;
  margin: 10px ;
  position: relative;
  text-align: center;
}

#content .section .description:before,
#content .section .description:after{
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
}

#content .section .img{
  padding: 40px 0 40px;
  text-align: center;
}


#content .section .meta{
  width: 100%;
}

#content .section .meta *{
  text-align: center;
}

#content .section .meta .release{
  display: block;
  font-size: 13px;
  padding: 0 0 15px;
}

#content .section .meta .title{
  margin: 0 0 15px;
}

#content .section .meta .title strong{
  color: #333;
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 8px;
}

#content .section .meta .title span{
  color: #999;
  display: block;
  font-size: 11px;
  line-height: 15px;
}

#content .section .meta .price{
  font-size: 13px;
  line-height: 1.8;
  /*padding: 0 0 30px;*/
  padding: 0;
  margin: 0;
}

#content .section .meta .price-wrapper .price{
  padding: 10px 0;
}

#content .section .more{
  padding: 0 0 30px;
  text-align: center;
}

#content .section .more > *{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#content .section .more dd{
  font-size: 12px;
  line-height: 18px;
  padding: 0 0 0 10px;
}

#content .section .detailBtn{
  background-color: #333;
  color: #fff;
  display: block;
  font-family: 'Montserrat',Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  margin: 0 auto 10px;
  transition: opacity .4s ease;
  text-align: center;
  width: 265px;
}

#content .section .detailBtn:hover{
  opacity: .8;
}

#content .section div[class^="colors"]{
  border-top: 1px solid #eaeaea;
  margin: 40px 0 0;
  padding: 40px 0 0!important;
}

#content .section div[class^="colors"] h5{
  font-size: 16px;
  line-height: 28px;
  padding: 0 0 40px;
  text-align: center;
}

#content .section div[class^="colors"] ul{
  font-size: 0;
  text-align: center;
}

#content .section div[class^="colors"] li{
  display: inline-block;
  padding: 0 0 40px;
  vertical-align: top;
  text-align: center;
  width: 300px;
}


#content .section .colors-3col li{
  width: 216px!important;
}

#content .section .colors-4col li{
  width: 162px!important;
}

#content .section .colors-5col li{
  width: 129px!important;
}

#content div[class^="colors"] li:first-child{
  padding-left: 0;
}

#content div[class^="colors"] li > *{
  display: block;
  text-align: center;
}

#content div[class^="colors"] li img{
  margin: 0 auto 10px;
}

#content div[class^="colors"] li strong{
  color: #000;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 0 4px;
}

#content div[class^="colors"] li strong span{
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0 0;
  text-align: center;
}

#content div[class^="colors"] li span{
  font-size: 11px;
}

#content div[class^="colors"] .limited{
  font-size: 11px;
  margin: 0;
  text-align: right;
}

.is-mincho {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}


/**
 * #spray-detail
 */
#spray-detail {
  border-top: 1px solid #ccc;
  margin: 60px 0 0;
  padding: 60px 28px 0;
}

#spray-detail h4 {
  color: #999;
  text-align: center;
}

[class^="spray-detail-sec-"] {
  padding: 0 0 60px;
}
[class^="spray-detail-sec-"] h5 {
  color: #ef9095;
  font-size: 16px;
  padding: 0 0 2em;
  text-align: center;
}

.spray-detail-sec-1 dl {
  font-size: 12px;
}
.spray-detail-sec-1 dt {
  font-weight: bold;
  padding: 1em 0 0;
}
.spray-detail-sec-1 dt:first-child{
  padding: 0;
}

.spray-detail-sec-2 .spray-detail-box-wrapper {
  overflow: hidden;
  zoom: 1;
}
.spray-detail-sec-2 .spray-detail-box {
  float: right;
  position: relative;
  width: 284px;
}
.spray-detail-sec-2 .spray-detail-box:first-child{
  float: left;
}
.spray-detail-sec-2 .spray-detail-box h6 {
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.spray-detail-sec-2 .spray-detail-box img {
  position: absolute;
  top: 40px;
}
.spray-detail-sec-2 .spray-detail-box:first-child img {
  top: 56px;
}
.spray-detail-sec-2 .spray-detail-box dl {
  font-size: 12px;
  line-height: 20px;
  padding: 160px 0 0;
}
.spray-detail-sec-2 .spray-detail-box dl > * {
  padding: 0 0 0 24px;
}
.spray-detail-sec-2 .spray-detail-box dt {
  background-repeat: no-repeat;
  margin: 1em 0 0;
}
.spray-detail-sec-2 .spray-detail-box dt:first-child{
  margin: 0;
}
.spray-detail-sec-2 .spray-detail-box .is-blue {
  background-image: url(images/icon_star.png);
  background-position: 0 50%;
  color: #68acdc;
}
.spray-detail-sec-2 .spray-detail-box .is-yellow {
  background-image: url(images/icon_circle.png);
  background-position: 0 55%;
  color: #f6ac19;
}
.spray-detail-sec-2 .spray-detail-box .is-pink {
  background-image: url(images/icon_flower.png);
  background-position: 0 50%;
  color: #f19db5;
}

.spray-detail-sec-3 {
  padding-bottom: 0;
}
.spray-detail-sec-3 p {
  font-size: 11px!important;
  line-height: 1.8;
  margin: 0!important;
}
.spray-detail-sec-3 p strong {
  color: #333!important;
  font-weight: bold;
}


/**
 * for smartphone
 */
.smartphone #content .smp_view {display:inline;}
.smartphone #content .smp_hidden {display:none;}
.smartphone #content time {margin-bottom:5px; text-align:center;}
.smartphone #content h2 {font-size:18px; text-align:center;}
.smartphone #content h3 {font-size:16px; line-height:1.6; text-align:center;}
.smartphone #content header .image img{ width: 100%; }
.smartphone #content .line{ width: 100%; }

.smartphone main .main_inner{
  overflow: visible;
}

.smartphone #content br.onlySP{
  display: inline;
}

/* # introduction */
.smartphone #content #introduction{
  background-size: 400px 60px;
  padding: 20px 0;
}

.smartphone #content #introduction h3 img{
  width: 150px;
}

.smartphone #content #introduction h3 {
  font-size: 12px;
  line-height: 1.8;
}

.smartphone #content #introduction p{
  font-size: 12px;
  line-height: 1.8;
  margin: 1em 0 0;
  text-align:left;
}

.smartphone #content #introduction p br{
  display: none;
}

.smartphone #content .section{
  background-size: auto 30px;
  margin: 0 -6.25% 30px;
  padding-top: 60px;
}

.smartphone #content .section > *{
  margin: 0 6.25%;
}

.smartphone #content .section .description{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0;
}

.smartphone #content .section .description:before,
.smartphone #content .section .description:after{
  background-size: contain;
  content: " ";
  display: block;
  left: 50%;
  position: absolute;
}

.smartphone #content .section .description:before{
  height: 17px;
  margin: 0 0 0 -25px;
  top: -20px;
  width: 50px;
}

.smartphone #content .section .description:after{
  bottom: -12px;
  height: 8px;
  margin: 0 0 0 -22px;
  width: 44px;
}

.smartphone #content .section .img{
  overflow: hidden;
  width: 100%;
}
.smartphone #content .section .img img{
  height: auto;
  /*max-height: 250px;
  max-width: 250px;*/
  max-width: 360px;
  position: relative;
  width: 100%;
}

.smartphone #content .section .meta .release{
  font-size: 10px;
  padding: 0 0 10px;
}

.smartphone #content .section .meta .title{
  margin: 0 0 10px;
}

.smartphone #content .section .meta .title strong{
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 4px;
}

.smartphone #content .section .meta .title span{
  font-size: 10px;
  line-height: 17px;
}

.smartphone #content .section .meta .price{
  font-size: 10px;
  line-height: 17px;
  padding: 0 0 15px;
}

.smartphone #content .section .meta .price-wrapper .price {
  font-size: 12px;
}

.smartphone #content .section .meta .detailBtn {
  margin-bottom: 30px;
}


.smartphone #content .section .more{
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}
.smartphone #content .section .more > *{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.smartphone #content .section .more dt img{
  max-height: 80px;
  max-width: 90px;
}
.smartphone #content .section .more dd{
  font-size: 10px;
  line-height: 14px;
  /*padding: 0 0 0 10px;*/
}

.smartphone #content .section .more dd br{
  display: none;
}


.smartphone #content .section div[class^="colors"]{
  padding: 30px 0;
  position: relative;
  margin: 30px auto 0;
  max-width: 280px;
  width: 100%;
}

.smartphone #content .section div[class^="colors"] ul{
  text-align: left;
}

.smartphone #content .section div[class^="colors"].is-align-center ul{
  text-align: center;
}

.smartphone #content .section div[class^="colors"] h5{
  font-size: 12px;
  line-height: 18px;
}

.smartphone #content .section div[class^="colors"] li{
  padding: 0;
  margin: 0 0 20px;
  width: 49%!important;
}

.smartphone #content .section div[class^="colors"] li img{
  max-width: 90%;
}

.smartphone #content .section div[class^="colors"] li strong{
  font-size: 10px;
  padding: 10px 10px 4px;
}

.smartphone #content .section div[class^="colors"] li span{
  font-size: 10px;
  padding: 0 10px;
}

.smartphone #content .section div[class^="colors"] li span br{
  display: none;
}

.smartphone #content div[class^="colors"] .limited{
  text-align: left;
}



/**
 * #spray-detail
 */
.smartphone #spray-detail {
  margin: 30px 0 0!important;
  padding: 30px 20px 0;
}

#spray-detail h4 {
  margin-bottom: 10px;
}

.smartphone [class^="spray-detail-sec-"] {
  padding: 0 0 40px;
}
.smartphone [class^="spray-detail-sec-"] h5 {
  font-size: 15px;
  padding: 0 0 1em;
}

.smartphone .spray-detail-sec-1 dl {
  font-size: 12px;
}
.smartphone .spray-detail-sec-1 dt {
  font-weight: bold;
  padding: 1em 0 0;
}
.smartphone .spray-detail-sec-1 dt:first-child{
  padding: 0;
}

.smartphone .spray-detail-sec-2 .spray-detail-box-wrapper {
  overflow: hidden;
  zoom: 1;
}
.smartphone .spray-detail-sec-2 .spray-detail-box {
  width: 100%;
}
.smartphone .spray-detail-sec-2 .spray-detail-box:first-child{
  margin: 0 0 40px;
}
.smartphone .spray-detail-sec-3 {
  padding-bottom: 10px;
}
